[submodule "source/dashboard"]
	path = source/dashboard
	url = https://github.com/jakej985-rgb/m3tal-godash.git
[submodule "source/go-backend"]
	path = source/go-backend
	url = https://github.com/jakej985-rgb/m3tal-goback.git
[submodule "source/m3tal-stack"]
	path = source/m3tal-stack
	url = https://github.com/jakej985-rgb/m3tal-stack
