[Desktop Entry]
Type=Application
Name=M3TAL Control Center
Comment=M3TAL Core Command Center
Exec=gnome-terminal --class=m3tal --title="M3TAL Control Center" -- m3tal tui
Icon=m3tal
Terminal=false
Categories=System;Utility;Settings;
StartupWMClass=m3tal
Keywords=docker;orchestration;homelab;traefik;

